body {
  margin: 0;
  text-align: center;
  font-family: 'Mochiy Pop One', sans-serif;
  background-color: #e4f9f5;
  margin-bottom: 0;
}

h1 {
  font-size: 50px;
  color: #072227;
  line-height: 1;
  margin: 50px auto 0 auto;
}
h2 {
  font-size: 30px;
  color: #072227;

  font-weight: normal;

}

h3 {
  color: #35858B;
}

a{
  background-color: #11999E;
  color:#e4f9f5;
}
.top {
  text-align: center;
  position: relative;
  padding-top: 200px;
  background-color: #e4f9f5;

}

.middle-container {
background-color: #e4f9f5;
}

.bottom-container {
background-color: #e4f9f5;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}



hr {
  clear: right;
  border-width: 5px;
  border-color: gray;
  border-style: none;
  border-top-style: dotted;
  height: 1px;
  width: 30%;
  margin-top: 10px;
}
.skill-row {
  margin: 100px auto 100px auto ;
  width: 50%;
  line-height: 2;



}
.codeimg1 {
  width: 25%;
  float: left;
  margin-right:30px;
}

.codeimg2 {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
}
.BottomColorText{
  background-color: #66BFBF;
  color:#eaf6f6;
  margin-bottom: 0;
}
.contact-me{
  clear: right;
}
.alignleft{
  text-align: left;
}
.alignright
{
  text-align: right;
}
